@media only screen and (max-width: 414px){

    div.title h2{
        font-size: 30px
    }

    div.title hr.underline{
        position: absolute;
        top: 39%;
    }

    div.text{
        position: absolute;
        top: 55%;
        left: -23%;
    }

    div div.icon{
        font-size: 55px;
    }

    div h5{
        font-size: 18px;
    }

    div h1{
        font-size: 25px;
    }

    section{
        display: block;
    }

    section div{
        padding: 25px 40px;
    }
}